openapi: 3.1.0
info:
  title: Partner Tasks API
  description: A task is an assignment issued to your partner account, such as a compliance violation, a technical issue, or a creative request. Each task has a type and subtype, and includes a summary and description, a current state, a due date, and any attachments or comments.
  version: '16'
  contact:
    name: impact.com Developer Support
    url: https://app.impact.com/secure/help/contact-support.ihtml
servers:
- url: https://api.impact.com
  description: Production server
security:
- basicAuth: []
tags:
- name: Tasks
  description: Endpoints for retrieving tasks assigned to your partner account, including compliance violations.
paths:
  /Mediapartners/{AccountSID}/Tasks:
    get:
      operationId: listTasks
      tags:
      - Tasks
      summary: List All Tasks
      description: Returns a list of existing, non-archived tasks assigned to your partner account.
      parameters:
      - name: AccountSID
        in: path
        required: true
        description: Unique identifier for the partner account.
        schema:
          type: string
      - name: Type
        in: query
        required: false
        description: Filter tasks by one or more comma-separated task types. For compliance violations, use COMPLIANCE. Values match the Type field in the Task response.
        schema:
          type: string
          example: COMPLIANCE
      - name: SubtypeName
        in: query
        required: false
        description: Filter tasks by one or more comma-separated subtype names. Requires the Type parameter. For compliance violations, common values are Search, Promo, Social, and Content. Passing an unrecognized subtype returns a validation error.
        schema:
          type: string
          example: Content
      - name: DateCreatedAfter
        in: query
        required: false
        description: Only return tasks created on or after this date (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: DateCreatedBefore
        in: query
        required: false
        description: Only return tasks created on or before this date (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: DateLastUpdatedBefore
        in: query
        required: false
        description: Only return tasks updated before this date (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: DateLastUpdatedAfter
        in: query
        required: false
        description: Only return tasks updated after this date (ISO 8601).
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A list of task objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Tasks:
                    type: array
                    description: The list of task objects.
                    items:
                      $ref: '#/components/schemas/Task'
      x-codeSamples:
      - lang: Shell
        label: curl
        source: |-
          curl -L \
            --url 'https://api.impact.com/Mediapartners/{AccountSID}/Tasks' \
            --user '{AccountSID}:{AuthToken}' \
            --header 'Accept: */*'
  /Mediapartners/{AccountSID}/Tasks/{TaskId}:
    get:
      operationId: getTaskById
      tags:
      - Tasks
      summary: Get Task Details
      description: Retrieves the details of an existing task assigned to your partner account by its unique ID.
      parameters:
      - name: AccountSID
        in: path
        required: true
        description: Unique identifier for the partner account.
        schema:
          type: string
      - name: TaskId
        in: path
        required: true
        description: The unique identifier for the task.
        schema:
          type: integer
      responses:
        '200':
          description: A single task object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
      x-codeSamples:
      - lang: Shell
        label: curl
        source: |-
          curl -L \
            --url 'https://api.impact.com/Mediapartners/{AccountSID}/Tasks/{TaskId}' \
            --user '{AccountSID}:{AuthToken}' \
            --header 'Accept: */*'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AccountSID as the username and AuthToken as the password.
  schemas:
    Task:
      type: object
      properties:
        Id:
          type: string
          example: '3562529'
        Reference:
          $ref: '#/components/schemas/TaskReference'
          description: Identifies the partner by ID and custom values.
        Details:
          $ref: '#/components/schemas/TaskDetails'
          description: Details of the task, including its summary, description, urgency, state, type, subtype, and resolution.
        Attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
          description: Details about each attachment.
        DueDate:
          type: string
          format: date-time
          example: 2021-08-31T04:00:00.000+0000
          description: Date and time at which the task is due. Displayed in ISO 8601 format.
        AssigneeUser:
          $ref: '#/components/schemas/User'
          description: Name of the user of the partner account that the task is assigned to.
        AssigneeAccount:
          type: string
          example: Acme Partners
          description: Name of the partner account that the task is assigned to.
        TotalActions:
          type: integer
          description: Total number of actions that have been recorded for this task.
          example: 0
        Actions:
          type: array
          description: Describes actions that have occurred on this task.
          items: {}
        TotalComments:
          type: integer
          description: Total number of comments that have been recorded for this task.
          example: 1
        Comments:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
          description: Details about each comment on this task.
        DateCreated:
          type: string
          format: date-time
          description: The date and time the task was created.
          example: 2021-08-18T16:47:21.000+0000
        DateLastUpdated:
          type: string
          format: date-time
          example: 2021-08-18T22:45:42.000+0000
          description: The date and time the task was last updated.
        CreatedBy:
          $ref: '#/components/schemas/User'
          description: Name of the user that created the task.
        LastUpdatedBy:
          $ref: '#/components/schemas/User'
          description: Name of the user that last updated the task.
    TaskReference:
      type: object
      properties:
        PartnerId:
          type: integer
          description: Unique identifier of the partner this task is about.
          example: 2552842
        PartnerValue1:
          type: string
          description: Custom partner tracking value 1.
          example: vip
        PartnerValue2:
          type: string
          description: Custom partner tracking value 2.
          example: north-america
        PartnerValue3:
          type: string
          description: Custom partner tracking value 3.
          example: tennis
    TaskDetails:
      type: object
      properties:
        Summary:
          type: string
          example: Acme Rewards Card Update
        Description:
          type: string
          example: The Acme Rewards Card APR has changed, please update your ads to reflect this new value.
        Urgent:
          type: boolean
          example: true
        State:
          type: string
          enum:
          - NEW
          - INPROGRESS
          - DUPLICATE
          - INVALID
          - BLOCKED
          - COMPLETED
          - APPROVED
          example: INPROGRESS
        Type:
          type: string
          enum:
          - COMPLIANCE
          - TECHNICAL
          - GENERAL
          - CREATIVE
          - FINANCE
          - CONTRACTS
          - ANALYTICS
          - MONITORING
          example: COMPLIANCE
        SubtypeId:
          type: [string, 'null']
          example: '275'
        SubtypeName:
          type: string
          nullable: true
          example: Content
        ResolutionId:
          type: string
          nullable: true
          example: ''
        ResolutionName:
          type: string
          nullable: true
          example: ''
    Attachment:
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier for the attachment.
          example: task_1223456_988957a0-e0ed-4f16-984b-f5a9259e6be7
        Filename:
          type: string
          description: Original filename of the attachment.
          example: acme_reward_card_details.pdf
        Location:
          type: string
          format: uri
          description: URL to download the attachment.
          example: https://cdn.example.com/task_123456_988957a0-e0ed-4f16-984b-f5a9259e6be7.pdf
    User:
      type: object
      properties:
        Username:
          type: string
          description: The user's username.
          example: Wile E. Coyote
        EmailAddress:
          type: string
          format: email
          description: The user's email address.
          example: wilecoyote@example.com
    Comment:
      type: object
      properties:
        Id:
          type: integer
          description: Unique identifier for the comment.
          example: 98765
        Comment:
          type: string
          description: The comment text.
          example: I've updated our home page with the latest ads, see attached screenshot.
        Commenter:
          type: string
          description: Name of the user who posted the comment.
          example: Wile E. Coyote
        Attachments:
          type: array
          description: Details about each attachment on the comment.
          items:
            $ref: '#/components/schemas/Attachment'
x-default-client: cURL
